/* common styles */

@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

.section-heading {
  font-size: 15rem;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 234, 0);
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.1rem rgb(255, 0, 0);
}

/* common styles */

/* section 1 */

.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='60' height='60' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(157)'%3E%3Crect width='100%25' height='100%25' fill='rgba(99, 179, 237,1)'/%3E%3Cpath d='M0 39a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11v2a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11zM0-1a 9-9 0 0 0 9-9h2a-11 11 0 0 1-11 11zM0-1a 11 11 0 0 1 11 11a 9 9 0 0 0 9 9a 11 11 0 0 1 11 11a 9 9 0 0 0 9 9a 11 11 0 0 1 11 11a 9 9 0 0 1 9 9v2a-11-11 0 0 1-11-11a-9-9 0 0 0-9-9a-11-11 0 0 1-11-11a-9-9 0 0 0-9-9a-11-11 0 0 1-11-11a-9-9 0 0 0-9-9a-11-11 0 0 1-11-11a-9-9 0 0 1-9-9a-11-11 0 0 0-11-11h2a 9 9 0 0 1 9 9a 9 9 0 0 0 9 9zM40-1a 11 11 0 0 1 11 11h-2a-9-9 0 0 1-9-9a-11-11 0 0 1-11-11a-9-9 0 0 1-9-9a-11-11 0 0 1-11-11z' fill='%23f8f9fc' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M-11 38a 8-8 0 0 0 8-8a 12-12 0 0 1 12-12a 8-8 0 0 0 8-8a 12-12 0 0 1 12-12v4a-8 8 0 0 0-8 8a-12 12 0 0 1-12 12a-8 8 0 0 0-8 8a-12 12 0 0 1-12 12zM-11-2a 8-8 0 0 0 8-8h4a-12 12 0 0 1-12 12zM-11-2a 12 12 0 0 1 12 12a 8 8 0 0 0 8 8a 12 12 0 0 1 12 12a 8 8 0 0 0 8 8a 12 12 0 0 1 12 12a 8 8 0 0 1 8 8v4a-12-12 0 0 1-12-12a-8-8 0 0 0-8-8a-12-12 0 0 1-12-12a-8-8 0 0 0-8-8a-12-12 0 0 1-12-12a-8-8 0 0 0-8-8a-12-12 0 0 1-12-12a-8-8 0 0 1-8-8a-12-12 0 0 0-12-12h4a 8 8 0 0 1 8 8a 8 8 0 0 0 8 8zM29-2a 12 12 0 0 1 12 12a 8 8 0 0 0 8 8a 12 12 0 0 1 12 12h-4a-8-8 0 0 0-8-8a-12-12 0 0 1-12-12a-8-8 0 0 0-8-8a-12-12 0 0 1-12-12a-8-8 0 0 1-8-8a-12-12 0 0 1-12-12zM29 38a 8-8 0 0 0 8-8a 12-12 0 0 1 12-12a 8-8 0 0 0 8-8a 12-12 0 0 1 12-12v4a-8 8 0 0 0-8 8a-12 12 0 0 1-12 12a-8 8 0 0 0-8 8a-12 12 0 0 1-12 12z' fill='%23222d59' filter='url(%23filter-doodad-2)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.01 0.2' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='5' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-0.5'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.05 0.01' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='9' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dy='-0.9'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(148, 90, 90, 0.8);
  position: absolute;
  top: -115vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(116, 52, 52, 0.386);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link,
.navbar-link:link,
.navbar-link:visited {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: rgb(255, 255, 0);
  width: 1.5rem;
  word-wrap: break-word;
  text-align: center;
  transition: all 0.5s;
}

.navbar-link:hover,
.navbar-link:active {
  width: 15rem;
  height: 6.2rem;
  background-color: rgba(255, 255, 0, 0.2);
  transition: all 2.5s;
  border-radius: 3rem;
  padding: 2rem 0;
}

.section-1-heading {
  font-size: 9rem;
  font-family: "Righteous", sans-serif;
  position: absolute;
  top: 18.5vw;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(148, 90, 90);
  text-shadow: 0.2rem 0.2rem 0.2rem rgb(154, 205, 50);
  background-color: rgba(255, 255, 0, 0.831);
  border-radius: 5rem;
  width: 85rem;
  padding: 0.8rem 1.6rem;
  text-align: center;
  opacity: 0.9;
}

.logo {
  position: absolute;
  top: 47.75%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  color: rgba(255, 255, 0, 0.831);
  text-shadow: 0.3rem 0.3rem 0.2rem rgb(154, 205, 50),
    -0.1rem -0.1rem 0.2rem #7fffd4;
  font-size: 15rem;
  opacity: 0.9;
}
/* end of section 1 */

/* section 2 */
.section-2 {
  width: 100%;
  height: 100vh;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='26' height='26' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(159)'%3E%3Crect width='100%25' height='100%25' fill='rgba(99, 179, 237,1)'/%3E%3Ccircle cx='20' cy='20' r='6' stroke-width='0' fill='rgba(154, 230, 180,1)' filter='url(%23filter-doodad-1)'/%3E%3Ccircle cx='32' cy='20' r='6' stroke-width='0' fill='rgba(116, 42, 42,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='-8' cy='20' r='6' stroke-width='0' fill='rgba(116, 42, 42,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='8' cy='20' r='6' stroke-width='0' fill='rgba(116, 42, 42,1)' filter='url(%23filter-doodad-2)'/%3E%3Ccircle cx='-32' cy='20' r='6' stroke-width='0' fill='rgba(116, 42, 42,1)' filter='url(%23filter-doodad-2)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.01 0.2' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='5' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-0.5'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.01 0.05' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='9' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-0.9'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.browns-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  margin-bottom: 9rem;
  margin-top: 4rem;
}

.browns {
  width: 35rem;
  height: 50rem;
  background-color: rgba(238, 238, 238, 0.817);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 1rem 1rem 0.1rem rgb(106, 204, 221),
    -1rem -1rem 0.1rem rgb(125, 248, 250);
  transition: box-shadow 0.5s;
}

.browns:hover {
  box-shadow: 1.5rem 1.5rem 0.1rem rgb(106, 204, 221),
    -1.5rem -1.5rem 0.1rem rgb(125, 248, 250);
}

.browns:first-child {
  align-self: flex-end;
}

.browns:last-child {
  align-self: flex-start;
}

.fa-quote-left {
  font-size: 4rem;
  color: rgba(180, 180, 0, 0.872);
  text-shadow: 0.2rem 0.2rem 0.1rem rgb(255, 127, 80);
}

.browns-text {
  font-size: 1.8rem;
  margin: 2.5rem 0;
  text-align: justify;
  font-weight: 500;
}

.browns-text::first-letter {
  margin-left: 1rem;
}

.browns-rating i {
  font-size: 2rem;
  color: rgb(255, 127, 80);
}

.browns-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
}

.browns-name {
  padding: 2rem 0 0 0;
  font-size: 3rem;
  font-weight: 700;
}

.browns:nth-child(2) .browns-name {
  padding: 0;
}

.browns:nth-child(1) .browns-name {
  transform: translateY(-0.5rem);
}
/* end of section 2 */

/* section 3 */
.section-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0 10rem 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='12' height='12' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(204)'%3E%3Crect width='100%25' height='100%25' fill='rgba(99, 179, 237,1)'/%3E%3Cpath d='M0 20v20l13-20L20 0l-20 20zM20 20v20l13-20L40 0l-20 20z' fill='rgba(154, 230, 180,1)' filter='url(%23filter-doodad-1)'/%3E%3Cpath d='M0 40v-20l20-20l-8 20zM20 40v-20l20-20l-8 20zM20 20v20l-20 20l10-20zM20-20v20l-20 20l10-20zM40 20v20l-20 20l10-20zM40-20v20l-20 20l10-20z' fill='rgba(116, 42, 42,1)' filter='url(%23filter-doodad-2)'/%3E%3C/pattern%3E%3Cfilter id='filter-doodad-1'%3E%3CfeTurbulence baseFrequency='0.01 0.2' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='5' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dx='-0.5'/%3E%3C/filter%3E%3Cfilter id='filter-doodad-2'%3E%3CfeTurbulence baseFrequency='0.15 0.01' numOctaves='2' result='result1'/%3E%3CfeDisplacementMap in2='result1' scale='10' result='result2' xChannelSelector='R' yChannelSelector='G' in='SourceGraphic'/%3E%3CfeComposite in2='result2' in='SourceGraphic' operator='atop' result='compositeGraphic'/%3E%3CfeOffset in='compositeGraphic' result='fbSourceGraphic' dy='-1'/%3E%3C/filter%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.team-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.team-member {
  width: 35rem;
  background-color: rgba(99, 179, 237, 1);
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 1rem 0.1rem rgb(106, 204, 221),
    -1rem -1rem 0.1rem rgb(125, 248, 250);
  position: relative;
  opacity: 0.85;
  transition: opacity 0.5s;
}

.team-member:hover {
  opacity: 1;
}

.team-member:first-child {
  align-self: flex-start;
}
.team-member:last-child {
  align-self: flex-end;
}

.team-member-img {
  width: 100%;
  border-radius: 0.5rem;
}

.team-member-name {
  font-size: 2.3rem;
  font-weight: 700;
  color: rgb(0, 37, 69);
  margin-top: 2rem;
}

.team-member-name span {
  font-size: 1.7rem;
}

.team-member-skills {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}

.team-member-skills li {
  font-size: 1.7rem;
  color: rgb(0, 14, 26);
  font-weight: 500;
}

.projects-btn {
  background-color: rgb(78, 156, 130);
  color: rgb(209, 233, 254);
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}

.schpadoinkle.story-btn {
  transform: rotate(405deg);
}

.story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: aliceblue;
}

.story {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.831);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all 0.5s;
}

.schpadoinkle.story {
  transform: scale(1);
  border-radius: 0;
}

.story-heading {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(73, 44, 0);
  margin-bottom: 2rem;
}

.story-paragraph {
  font-size: 1.8rem;
  color: rgb(41, 25, 0);
  font-weight: 500;
  text-align: justify;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}
/* end of section 3 */

/* section 4 */

.section-4 {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='40' height='40' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(104, 211, 145,1)'/%3E%3Cpath d='M40 20L34 14L34 6L26 6L20 0L14 6L6 6L6 14L0 20L6 26L6 34L14 34L20 40L26 34L34 34L34 26z' fill='rgba(250, 240, 137,1)'/%3E%3Cpath d='M40 20L34 14L34 6L26 6L20 2L14 6L6 6L6 14L0 20L6 26L6 34L14 34L20 38L26 34L34 34L34 26z' fill='rgba(99, 179, 237,1)'/%3E%3Cpath d='M19 19L6 14v-8h8zM21 19L26 6h8v8zM19 21L6 26v8h8zM21 21L34 26v8h-8z' fill='rgba(250, 240, 137,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.form-container {
  width: 80%;
  height: 40%;
  background-color: #7fffd4ad;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(99, 179, 237, 1),
    -0.1rem -0.1rem 0.4rem rgba(250, 240, 137, 1);
  border-radius: 0.5rem;
  perspective: 100rem;
}

.form-img {
  width: 55rem;
  background-color: rgba(99, 179, 237, 1);
  padding: 5rem;
  opacity: 0.8;
  box-shadow: -3rem 3rem 4rem #7fffd4ad;
  border-radius: 0.5rem;
  transform: rotateY(20deg);
  transition: all 0.5s;
}

.form-img:hover {
  transform: translateY(-2rem) rotateY(20deg);
}

.contact-form {
  width: 45rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(99, 179, 237, 1),
    -0.3rem -0.3rem 0.5rem rgba(250, 240, 137, 1);
  transform: rotateY(-20deg);
  transition: all 0.5s;
}

.contact-form:hover {
  transform: translateY(-2rem) rotateY(-20deg);
}

.contact-form input,
.contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #7fffd4ad,
    inset -0.1rem -0.1rem 0.2rem #7fffd4ad;
}

.contact-form textarea {
  max-height: 15rem;
  min-height: 10rem;
  max-width: 100%;
  min-width: 70%;
}

.contact-form input[type="submit"] {
  background-color: rgba(99, 179, 237, 1);
  color: aliceblue;
  font-weight: bolder;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
  background-color: rgb(53, 133, 191);
}

.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-top: 5rem;
  font-weight: 900;
}

.copyright .year {
  font-weight: 900;
}

/* end of section 4 */

.scroll-up-btn {
  width: 5rem;
  height: 5rem;
  background-color: fuchsia;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  border-radius: 50%;
  font-size: 2.8rem;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.scroll-up-btn i {
  transform: translateY(-0.2rem);
}

.scroll-up-btn:hover {
  background-color: aliceblue;
  color: aqua;
}

/* begin media queries */

/* 1400 px */

@media (max-width: 1400px) {
  .floating-bg {
    top: -100vw;
  }
  .section-1-heading {
    font-size: 6rem;
    top: 25vw;
  }

  .navbar-link {
    font-size: 2rem;
  }

  .logo {
    top: 30%;
  }

  .logo i {
    font-size: 10rem;
  }

  .section-heading {
    font-size: 8rem;
    margin-bottom: 10rem;
  }

  .section-2 {
    height: auto;
  }

  .section-2 .section-heading {
    padding-top: 8rem;
  }

  .browns-wrapper {
    flex-wrap: wrap;
  }

  .browns {
    margin: 5rem 10rem;
  }

  .section-3 {
    height: auto;
  }

  .team-wrapper {
    flex-wrap: wrap;
  }

  .team-member {
    margin: 5rem 10rem;
  }

  .form-container {
    height: 40%;
    margin: 0;
  }

  .form-img {
    display: none;
  }

  .contact-form {
    transform: translateY(0);
  }
  .contact-form:hover {
    transform: translateY(-1rem);
  }

  .copyright {
    margin: 5rem 0 4rem 0;
  }
}

@media (max-width: 1150px) {
  .floating-bg {
    top: -90vw;
  }

  .section-1-heading {
    font-size: 5rem;
    top: 30vw;
    width: 60rem;
  }

  .logo i {
    font-size: 9rem;
  }
}

@media (max-width: 950px) {
  .floating-bg {
    top: -75vw;
  }

  .section-1-heading {
    top: 40vw;
  }

  .navbar {
    justify-content: space-around;
  }
}
